
* {

  box-sizing: border-box;
  font-family: 'Roboto', monospace;

}

button{
  background: none;
  border: 1px solid rgb(75, 75, 244);
  border-radius: 5px;
  color:rgb(75, 75, 244);
  font-size: 15px;
  font: bold;
  cursor: pointer;
  padding: 10px;
}
 

html, body {
 height: 100%;
  margin: 0; /* Убрать стандартный отступ */
  // padding: 10px;

}

#root{

  background-color: rgb(220, 248, 255);
  min-height: 100%;
  display: flex;
  flex-direction: column;
    // padding: 10px;

}

// .HeaderInApp {
//   width: 100%;
//   position: sticky;
//   top: 0;
// }

.MainInHeader {
  flex-grow: 1;
  padding: 10px;
  // min-height: 100%;
}

.FooterInApp {
  width: 100%;
}